
BioSim_G21_Julie_Marisha/venv/bin/

BioSim_G21_Julie_Marisha/venv/

BioSim_G21_Julie_Marisha/.idea/

BioSim_G21_Julie_Marisha/examples/check_sim.pdf

*.mp4
*.pickle

*.doctree

*.html

*.js

*.txt

*.inv

BioSim_G21_Julie_Marisha/.DS_Store

BioSim_G21_Julie_Marisha/examples/.DS_Store
